<div class="col-5 m-auto p-auto text-center animated fadeIn">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <p class="mt-4"><strong class="animated heartBeat slow">Cargando foto...</strong></p>

        <p>
            <mat-icon class="animated heartBeat slow">cloud_upload</mat-icon>
        </p>

    </div>

</div>