<div class="container-fluid animated fadeIn">

    <ng-container *ngIf="cargando; else finCarga">
        <app-loading></app-loading>
    </ng-container>
    <ng-template #finCarga class="m-4">
      
      <div class="alert alert-light d-inline-flex" role="alert" *ngIf="authService.veterinario && authService.duenio">
        <h6>Mostrando tus eventos como <strong>{{ modo | rol }}</strong></h6>
        <mat-icon (click)="cambiarModo()"
                  class="animated flash ml-3 pointer" 
                  aria-label="Cambiar">
            swap_horizontal_circle
        </mat-icon>
      </div>

        <div *ngIf="eventos && eventos.length === 0" class="container">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div>
    
                    <i><mat-icon class="animated flash">info</mat-icon></i> <span> No tienes nada para recordar. <strong><a [routerLink]="['/listado-eventos']"> Ir al listado de eventos</a> </strong></span>
                </div>
            </div>
        </div>
        
        <div *ngIf="eventos && eventos.length > 0" class="m-3">
            <hr>
            <div class="card-columns animated fadeIn">
                <div *ngFor="let evento of eventos | paginate: paginationConfig" class="card">
                    
                    <div class="card-body">
                        <h5 class="card-title mb-4">
                            <mat-icon class="icono" aria-label="Descripción">event</mat-icon>
                            
                            {{ evento.tipo }}  
                            <small class="text-muted">{{ getMensajeDias( evento.fecha ) }}</small>
                        </h5>
                        
                        
                        <p class="card-text">
                            <mat-icon>description</mat-icon>
                            {{ evento.descripcion }}
                            <br>
                            <mat-icon>pets</mat-icon>
                            {{ evento.nombre_mascota }}
                        </p>
                        <div class="row">
                            <div class="col">
                                <p class="cart-text">
                                    <small>
                                        {{ evento.fecha | date:'dd/MM/yyyy' }}
                                    </small>
                                </p> 
                            </div>
                            <div class="col">
                                <p class="card-text text-right pointer" (click)="eliminar(evento)">
                                    <mat-icon>delete</mat-icon>
                                </p>
                            </div>
                        </div>
                    </div>
                   
                </div>
              </div>
              <div class="col-12 mt-3 d-flex justify-content-center">
                <pagination-template
                #p="paginationApi"
                [id]="paginationConfig.id"
                [maxSize]="maxSizePagination"
                autoHide="true"
                (pageChange)="paginationConfig.currentPage = $event">
                
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li [className]="p.isFirstPage() ? 'page-item disabled' : 'page-item'">
                      <a class="page-link pointer"
                         (click)="p.previous()"
                         aria-label="Anterior">
                        <span aria-hidden="true">«</span>
                      </a>
                    </li>
                    <li *ngFor="let page of p.pages"
                        [className]="p.getCurrent() === page.value
                          ? 'page-item disabled'
                          : 'page-item'">
                      <a class="page-link pointer"
                        (click)="p.setCurrent(page.value)"
                        *ngIf="p.getCurrent() !== page.value">
                        {{ page.label }}
                      </a>
                      <a class="page-link pointer"  *ngIf="p.getCurrent() === page.value">
                        {{ page.label }}
                      </a>
                    </li>
                    <li [className]="p.isLastPage() ? 'page-item disabled' : 'page-item'">
                      <a class="page-link pointer"
                        (click)="p.next()"
                         aria-label="Next">
                        <span aria-hidden="true">»</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </pagination-template>
                </div>
        </div>
        
    </ng-template>

</div>
