<div class="container-fluid">
    <mat-horizontal-stepper class="pr-4 row" linear labelPosition="bottom" #stepper>
        <div class="col-xs-3 col-md-c3 col-lg-3">
            <!-- DATOS PRIVADOS -->
            <!-- [stepControl]="datosMascota" (lo saco porque es incomodo para hacer pruebas) -->
            <mat-step>
                <form [formGroup]="datosMascota">
                    <ng-template matStepLabel>Datos de tu mascota</ng-template>
                    <div class="row">
                        <mat-form-field class="col-lg-5 col-md-5">
                            <input matInput type="text" placeholder="Nombre" formControlName="nombre">
                            <mat-error *ngIf="datosMascota.invalid">Debe completar este campo.</mat-error>
                        </mat-form-field>

                        <mat-form-field class="col-lg-5 col-md-5">
                            <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" formControlName="fecha_nacimiento" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="datosMascota.invalid">Debe completar este campo.</mat-error>
                        </mat-form-field>
                    </div>
                    <br>
                    <div class="row">
                        <mat-form-field class="col-lg-5 col-md-5">
                            <mat-select placeholder="Especie" formControlName="especie">
                                <mat-option *ngFor="let e of especies" value="{{ e }}">{{ e | titlecase }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="datosMascota.invalid">Debe completar este campo.</mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-lg-5 col-md-5">
                            <input matInput type="text" placeholder="Raza" formControlName="raza">
                        </mat-form-field>
                    </div>
                    <br>
                    <div class="row">
                        <mat-form-field class="col-lg-5 col-md-5">
                            <mat-select placeholder="Sexo" formControlName="sexo">
                                <mat-option *ngFor="let s of sexos" value="{{ s }}">{{ s | titlecase }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="datosMascota.invalid">Debe completar este campo.</mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-lg-5 col-md-5">
                            <input matInput type="text" placeholder="Color" formControlName="color" required>
                            <mat-error *ngIf="datosMascota.invalid">Debe completar este campo.</mat-error>
                        </mat-form-field>
                    </div>
                    <br>
                    <div class="row">
                        <mat-form-field class="col-lg-5 col-md-5">
                            <input matInput type="text" placeholder="Señas" formControlName="senias">
                        </mat-form-field>
                        <mat-form-field class="col-lg-5 col-md-5">
                            <mat-select placeholder="Veterinario" formControlName="veterinario">
                                <mat-option *ngFor="let v of veterinarios" value="{{ v }}">{{ v | titlecase }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="datosMascota.invalid">Debe completar este campo.</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row text center">
                        <div class="col">
                            <button type="button" (click)="guardarDatosMascota()" class="mt-2 btn btn-outline-secondary btn-sm" matStepperNext>Siguiente</button>
                        </div>

                    </div>

                </form>
            </mat-step>
        </div>
        <div class="col-xs-3 col-md-c3 col-lg-3">
            <!-- FOTO -->
            <mat-step optional>
                <form [formGroup]="fotoMascota">
                    <ng-template matStepLabel>Foto de tu mascota</ng-template>

                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                        <strong>Atención: </strong> Si no se carga una foto de su mascota, la ficha no se podrá ver publicamente en el home de la página.
                    </div>

                    <div class="row">

                        <mat-form-field class="col-lg-5 col-md-5">
                            <input matInput type="text" placeholder="Foto" formControlName="foto" required>
                            <mat-error *ngIf="datosMascota.invalid">Debe completar este campo.</mat-error>
                        </mat-form-field>
                    </div>
                    <br>
                    <div>
                        <button type="button" class="mr-2 btn btn-outline-secondary btn-sm" matStepperPrevious>Atrás</button>
                        <button type="button" (click)="guardarDatosMascota()" class="btn btn-outline-secondary btn-sm" matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>
        </div>
        <div class="col-xs-3 col-md-c3 col-lg-3">
            <!-- DATOS PUBLICOS -->
            <mat-step [stepControl]="datosPublicos">
                <form [formGroup]="datosPublicos">
                    <ng-template matStepLabel>Datos para la ficha pública</ng-template>
                    <div class="text-muted">
                        <p> Seleccione las características de su mascota que quiere que aparezcan en su ficha pública.</p>
                    </div>

                    <h5>Información de {{ datosMascota.controls['nombre'].value | titlecase }}:</h5>
                    <br>

                    <div class="row">
                        <mat-checkbox formControlName="nombre_publico" class="col-lg-5 col-md-5">{{ datosMascota.controls['nombre'].value | titlecase }}</mat-checkbox>
                        <mat-checkbox formControlName="fecha_nacimiento_publico" class="col-lg-5 col-md-5">{{ datosMascota.controls['fecha_nacimiento'].value | date }}</mat-checkbox>
                    </div>
                    <br>
                    <div class="row">
                        <mat-checkbox formControlName="fecha_nacimiento_publico" class="col-lg-5 col-md-5">{{ datosMascota.controls['fecha_nacimiento'].value | date }}</mat-checkbox>
                        <mat-checkbox formControlName="especie_publico" class="col-lg-5 col-md-5">{{ datosMascota.controls['especie'].value }}</mat-checkbox>
                    </div>
                    <br>
                    <div class="row">
                        <mat-checkbox formControlName="fecha_nacimiento_publico" class="col-lg-5 col-md-5">{{ datosMascota.controls['fecha_nacimiento'].value | date }}</mat-checkbox>
                        <mat-checkbox formControlName="especie_publico" class="col-lg-5 col-md-5">{{ datosMascota.controls['especie'].value }}</mat-checkbox>
                    </div>
                    <br>
                    <div class="row">
                        <mat-checkbox formControlName="raza_publico" class="col-lg-5 col-md-5">{{ datosMascota.controls['raza'].value }}</mat-checkbox>
                        <mat-checkbox formControlName="sexo_publico" class="col-lg-5 col-md-5">{{ datosMascota.controls['sexo'].value }}</mat-checkbox>
                    </div>
                    <br>
                    <div class="row">
                        <mat-checkbox formControlName="color_publico" class="col-lg-5 col-md-5">{{ datosMascota.controls['color'].value }}</mat-checkbox>
                        <mat-checkbox formControlName="senias_publico" class="col-lg-5 col-md-5">{{ datosMascota.controls['senias'].value }}</mat-checkbox>
                    </div>
                    <br>
                    <div class="row">
                        <mat-checkbox formControlName="veterinario_publico" class="col-lg-5 col-md-5">{{ datosMascota.controls['veterinario'].value }}</mat-checkbox>
                        <!-- <mat-checkbox formControlName="foto_publico">{{ fotoMascota.controls['foto'].value }}</mat-checkbox>-->
                    </div>

                    <br>
                    <h5>Tu información:</h5>
                    <br>
                    <div class="row">
                        <mat-checkbox formControlName="nombre_duenio_publico" class="col-lg-4 col-md-4">Tu nombre</mat-checkbox>
                        <mat-checkbox formControlName="apellido_duenio_publico" class="col-lg-4 col-md-4">Tu apellido</mat-checkbox>
                        <mat-checkbox formControlName="telefono_duenio_publico" class="col-lg-4 col-md-4">Tu teléfono</mat-checkbox>
                    </div>
                    <br>
                    <div>
                        <button type="button" class="mr-2 btn btn-outline-secondary btn-sm" matStepperPrevious>Atrás</button>
                        <button type="button" (click)="guardarDatosPublicos()" class="btn btn-outline-secondary btn-sm" matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>
        </div>
        <div class="col-xs-3 col-md-c3 col-lg-3">
            <mat-step>
                <ng-template matStepLabel>Fin</ng-template>
                ¡Listo! //esta es una confirmacion para cargar la mascota, si selecciona guardar se guarda, si no se resetea el formulario. Los datos publicos de tu mascota son: //se muestran solo los que selecciono como publicos para que confirme
                <div>
                    Datos públicos:

                    <p *ngIf="datosPublicos.controls['nombre_publico'].value">Nombre: {{ datosMascota.controls['nombre'].value }}</p>
                    <p *ngIf="datosPublicos.controls['fecha_nacimiento_publico'].value">fecha_nacimiento: {{ datosMascota.controls['fecha_nacimiento'].value | date }}</p>
                    <p *ngIf="datosPublicos.controls['especie_publico'].value">especie: {{ datosMascota.controls['especie'].value }}</p>
                    <p *ngIf="datosPublicos.controls['raza_publico'].value">raza: {{ datosMascota.controls['raza'].value }}</p>
                    <p *ngIf="datosPublicos.controls['sexo_publico'].value">sexo: {{ datosMascota.controls['sexo'].value }}</p>
                    <p *ngIf="datosPublicos.controls['color_publico'].value">color: {{ datosMascota.controls['color'].value }}</p>
                    <p *ngIf="datosPublicos.controls['senias_publico'].value">senias: {{ datosMascota.controls['senias'].value }}</p>
                    <p *ngIf="datosPublicos.controls['veterinario_publico'].value">veterinario: {{ datosMascota.controls['veterinario'].value }}</p>
                    <p *ngIf="datosPublicos.controls['foto_publico'].value">foto: {{ datosMascota.controls['foto'].value }}</p>
                    <p *ngIf="datosPublicos.controls['nombre_duenio_publico'].value">nombre_duenio: nombre duenio</p>
                    <p *ngIf="datosPublicos.controls['apellido_duenio_publico'].value">apellido_duenio: apellido duenio</p>
                    <p *ngIf="datosPublicos.controls['telefono_duenio_publico'].value">telefono_duenio: telefono duenio</p>
                </div>
                <div>
                    <button type="button" class="mr-2 btn btn-outline-secondary btn-sm">Guardar</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm" (click)="stepper.reset()">Resetear</button>
                </div>
            </mat-step>
        </div>
    </mat-horizontal-stepper>
</div>