<div class="container-fluid animated fadeIn">
    <ng-container *ngIf="subiendo || cargando; else elseTemplate">
        <div class="mt-4 pt-4"></div>
        <app-loading></app-loading>
    </ng-container>
    <ng-template #elseTemplate>
        <mat-horizontal-stepper class="pr-4 row" linear labelPosition="bottom" #stepper>


            <div class="col-xs-3 col-md-c3 col-lg-3">
                <!-- DATOS PRIVADOS -->
                <mat-step [stepControl]="datosMascota">
                    <form [formGroup]="datosMascota">
                        <ng-template matStepLabel>Datos de tu mascota</ng-template>
                        <div class="row separador">
                            <mat-form-field class="col-lg-5 col-md-5">
                                <input matInput type="text" placeholder="Nombre" formControlName="nombre" required>
                                <mat-error *ngIf="datosMascota.invalid">Debe completar este campo.</mat-error>
                            </mat-form-field>

                            <mat-form-field class="col-lg-5 col-md-5">
                                <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" formControlName="fecha_nacimiento" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error *ngIf="datosMascota.invalid">Debe completar este campo con una fecha válida.</mat-error>
                            </mat-form-field>
                        </div>
                        <br>
                        <div class="row ">
                            <mat-form-field class="col-lg-5 col-md-5">
                                <mat-select placeholder="Especie" formControlName="especie" required>
                                    <mat-option *ngFor="let e of especies" value="{{ e }}">{{ e | titlecase }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="datosMascota.invalid">Debe completar este campo.</mat-error>
                            </mat-form-field>
                            <mat-form-field class="col-lg-5 col-md-5">
                                <input matInput type="text" placeholder="Raza" formControlName="raza">
                            </mat-form-field>
                        </div>
                        <br>
                        <div class="row">
                            <mat-form-field class="col-lg-5 col-md-5">
                                <mat-select placeholder="Sexo" formControlName="sexo" required>
                                    <mat-option *ngFor="let s of sexos" value="{{ s }}">{{ s | titlecase }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="datosMascota.invalid">Debe completar este campo.</mat-error>
                            </mat-form-field>
                            <mat-form-field class="col-lg-5 col-md-5">
                                <input matInput type="text" placeholder="Color" formControlName="color" required>
                                <mat-error *ngIf="datosMascota.invalid">Debe completar este campo.</mat-error>
                            </mat-form-field>
                            
                        </div>
                        <br>
                        <div class="row">
                            <mat-form-field class="col-lg-5 col-md-5">
                                <input matInput type="text" placeholder="Señas" formControlName="senias">
                            </mat-form-field>
                            <div *ngIf="veterinario_actual" [hidden]="cambiarVetControl" class="col-lg-5 col-md-5">
                                <h6 class="text-muted">Veterinario actual:</h6>  
                                <img [src]="veterinario_actual.foto | image" alt="Imágen el veterinario" class="img-40"> 
                                {{ veterinario_actual.apellido | titlecase }}, {{ veterinario_actual.nombre | titlecase }}
                                <button (click)="cambiarVetControl = !cambiarVetControl" 
                                        type="button" class="mt-2 ml-2 btn btn-outline-secondary btn-sm">
                                        Cambiar
                                </button>
                            </div>
                            <mat-form-field *ngIf="cambiarVetControl" class="col-lg-5 col-md-5">
                                <mat-select placeholder="Veterinario" formControlName="veterinario">
                                    <mat-option value="0">Sin veterinario</mat-option>
                                    <mat-option *ngFor="let v of veterinarios" value="{{ v.id }}"> <img [src]="v.foto | image" alt="Imágen el veterinario" class="img-40"> {{ v.apellido | titlecase }}, {{ v.nombre | titlecase }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="row text center">
                            <div class="col">
                                <button (click)="procesarMascota()" type="button" class="mt-2 btn btn-outline-secondary btn-sm">Guardar</button>
                            </div>

                        </div>

                    </form>
                </mat-step>
            </div>
            <div class="col-xs-3 col-md-c3 col-lg-3">
                <!-- FOTO -->
                <mat-step>
                    <form [formGroup]="formFoto">
                        <ng-template matStepLabel>Foto de tu mascota</ng-template>


                        <div class="m-4 row text-center">
                            <button type="button" mat-raised-button (click)="fileInput.click()">Elegir foto</button>
                            <input hidden (change)="onFileSelected($event.target.files[0])" #fileInput type="file" id="file">
                        </div>

                        <div *ngIf="imagenTemp" class="text-center">
                            <h5>Vista previa:</h5>
                            <img [src]="imagenTemp" id="vista_previa">
                        </div>
                        <br>
                        <div>
                            <div *ngIf="!subiendo">
                                <button type="button" class="mr-2 btn btn-outline-secondary btn-sm" matStepperPrevious>Atrás</button>
                                <button type="button" *ngIf="archivo && !subiendo" (click)="actualizarFoto()" class="mr-2 btn btn-outline-secondary btn-sm">Guardar</button>
                            </div>
                        </div>

                    </form>
                </mat-step>
            </div>
            
        </mat-horizontal-stepper>
    </ng-template>
</div>