<div class="container">
    <h2 class="text-center">Registrarse</h2>
    <a class="pointer d-block text-center" (click)="mostrarLogin()">¿Ya tenés una cuenta? <strong class="animated flash slow">Iniciá sesión</strong></a>

    <mat-horizontal-stepper class="pr-4 row" linear labelPosition="bottom" #stepper>
        <div class="col-xs-3 col-md-c3 col-lg-3">
            <!-- DATOS PRIVADOS -->
            <!-- [stepControl]="datosPersonales" (lo saco porque es incomodo para hacer pruebas) -->
            <mat-step [stepControl]="datosPersonales">
                <form [formGroup]="datosPersonales">
                    <ng-template matStepLabel>Datos personales</ng-template>

                    <div class="row">

                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput type="text" placeholder="Email" formControlName="email">
                                <mat-error *ngIf="datosPersonales.invalid">Debe completar este campo.</mat-error>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <input matInput type="password" placeholder="Contraseña" formControlName="password">
                                <mat-error *ngIf="datosPersonales.invalid">Debe completar este campo.</mat-error>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <input matInput type="text" placeholder="Nombre" formControlName="nombre">
                                <mat-error *ngIf="datosPersonales.invalid">Debe completar este campo.</mat-error>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <input matInput type="text" placeholder="Apellido" formControlName="apellido">
                                <mat-error *ngIf="datosPersonales.invalid">Debe completar este campo.</mat-error>
                            </mat-form-field>
                            <br>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" formControlName="fecha_nacimiento" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error *ngIf="datosPersonales.invalid">Debe completar este campo.</mat-error>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <input matInput type="text" placeholder="Teléfono" formControlName="telefono">
                                <mat-error *ngIf="datosPersonales.invalid">Debe completar este campo.</mat-error>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <mat-select (selectionChange)="setFormConfig()" placeholder="Rol" formControlName="rol">
                                    <mat-option value="duenio">Dueño</mat-option>
                                    <mat-option value="veterinario">Veterinario</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br>
                        </div>
                        <!-- Fin row -->
                    </div>

                    <div>
                        <button (click)="mostrarLogin()" type="button" class="mr-2 btn btn-outline-secondary btn-sm">Volver</button>
                        <button *ngIf="datosPersonales.value.rol === 'veterinario'" type="button" class="btn btn-outline-secondary btn-sm" matStepperNext>
                                Siguiente
                        </button>
                        <button *ngIf="datosPersonales.value.rol === 'duenio'" 
                                type="button" (click)="procesarUsuario()" 
                                class="btn btn-outline-secondary btn-sm"
                                [disabled]="datosPersonales.invalid">
                            Enviar
                        </button>
                    </div>
                </form>
            </mat-step>
        </div>

        <div class="col-xs-3 col-md-c3 col-lg-3">
            <!-- STEP 2 - DATOS PROFESIONALES -->
            <mat-step *ngIf="datosPersonales.value.rol === 'veterinario'">
                <form [formGroup]="datosProfesionales">
                    <ng-template matStepLabel>Datos profesionales</ng-template>

                    <mat-form-field>
                        <input matInput type="text" placeholder="Matrícula" formControlName="matricula">
                        <mat-error *ngIf="datosProfesionales.invalid">Debe completar este campo.</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Nombre Consultorio" formControlName="nombre_consultorio">
                        <mat-error *ngIf="datosProfesionales.invalid">Debe completar este campo.</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Domicilio Consultorio" formControlName="domicilio_consultorio">
                        <mat-error *ngIf="datosProfesionales.invalid">Debe completar este campo.</mat-error>
                    </mat-form-field>
                    <br>
                    <div>
                        <button type="button" class="mr-2 btn btn-outline-secondary btn-sm" matStepperPrevious>Atrás</button>
                        <button type="button" 
                                (click)="procesarUsuario()" 
                                class="btn btn-outline-secondary btn-sm" 
                                [disabled]="datosPersonales.invalid || datosProfesionales.invalid">
                                Enviar
                        </button>
                    </div>
                </form>
            </mat-step>
        </div>
        <!-- <div class="col-xs-3 col-md-c3 col-lg-3"> -->
        <!-- STEP 3 FOTO -->
        <!-- <mat-step>
                <form [formGroup]="formFoto">
                    <ng-template matStepLabel>Foto</ng-template>
                    <div class="m-4 row">
                        <button type="button" mat-raised-button (click)="fileInput.click()">Elegir foto</button>
                        <button *ngIf="imagenTemp" class="ml-3" type="button" mat-raised-button (click)="limpiarFoto()">Limpiar</button>
                        <input hidden (change)="onFileSelected($event.target.files[0])" #fileInput type="file" id="file">
                    </div>
                    
                    <div *ngIf="imagenTemp">
                        <h5>Vista previa</h5>
                        <img [src]="imagenTemp" class="w150 mb-4">
                    </div>
                    <div>
                        <button type="button" class="mr-2 btn btn-outline-secondary btn-sm" matStepperPrevious>Atrás</button>
                        <button type="button"  
                                class="btn btn-outline-secondary btn-sm" 
                                matStepperNext>Finalizar</button>
                    </div>
                </form>
            </mat-step>
        </div> -->
    </mat-horizontal-stepper>
</div>