<div class="container-fluid">
    <mat-horizontal-stepper class="pr-4 row" linear labelPosition="bottom" #stepper>
        <div class="col-xs-3 col-md-c3 col-lg-3">
            <!-- DATOS PRIVADOS -->
            <!-- [stepControl]="datosMascota" (lo saco porque es incomodo para hacer pruebas) -->
            <mat-step>
                <form [formGroup]="datosMascota">
                    <ng-template matStepLabel>Datos de tu mascota</ng-template>
                    <div class="row separador">
                        <mat-form-field class="col-lg-5 col-md-5">
                            <input matInput type="text" placeholder="Nombre" formControlName="nombre">
                            <mat-error *ngIf="datosMascota.invalid">Debe completar este campo.</mat-error>
                        </mat-form-field>

                        <mat-form-field class="col-lg-5 col-md-5">
                            <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" formControlName="fecha_nacimiento" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="datosMascota.invalid">Debe completar este campo.</mat-error>
                        </mat-form-field>
                    </div>
                    <br>
                    <div class="row ">
                        <mat-form-field class="col-lg-5 col-md-5">
                            <mat-select placeholder="Especie" formControlName="especie">
                                <mat-option *ngFor="let e of especies" value="{{ e }}">{{ e | titlecase }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="datosMascota.invalid">Debe completar este campo.</mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-lg-5 col-md-5">
                            <input matInput type="text" placeholder="Raza" formControlName="raza">
                        </mat-form-field>
                    </div>
                    <br>
                    <div class="row">
                        <mat-form-field class="col-lg-5 col-md-5">
                            <mat-select placeholder="Sexo" formControlName="sexo">
                                <mat-option *ngFor="let s of sexos" value="{{ s }}">{{ s | titlecase }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="datosMascota.invalid">Debe completar este campo.</mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-lg-5 col-md-5">
                            <input matInput type="text" placeholder="Color" formControlName="color" required>
                            <mat-error *ngIf="datosMascota.invalid">Debe completar este campo.</mat-error>
                        </mat-form-field>
                    </div>
                    <br>
                    <div class="row">
                        <mat-form-field class="col-lg-5 col-md-5">
                            <input matInput type="text" placeholder="Señas" formControlName="senias">
                        </mat-form-field>
                        <mat-form-field class="col-lg-5 col-md-5">
                            <mat-select placeholder="Veterinario" formControlName="veterinario">
                                <mat-option *ngFor="let v of veterinarios" value="{{ v }}">{{ v | titlecase }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="datosMascota.invalid">Debe completar este campo.</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row text center">
                        <div class="col">
                            <button type="button" class="mt-2 btn btn-outline-secondary btn-sm" matStepperNext>Siguiente</button>
                        </div>

                    </div>

                </form>
            </mat-step>
        </div>
        <div class="col-xs-3 col-md-c3 col-lg-3">
            <!-- FOTO -->
            <mat-step optional>
                <form [formGroup]="formFoto">
                    <ng-template matStepLabel>Foto de tu mascota</ng-template>

                    <div class="separador alert alert-warning alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                        <strong>Atención: </strong> Si no se carga una foto de su mascota, la ficha no se podrá ver publicamente en el home de la página.
                    </div>

                    <div class="m-4 row">
                        <button type="button" mat-raised-button (click)="fileInput.click()">Elegir foto</button>
                        <button *ngIf="imagenTemp" class="ml-3" type="button" mat-raised-button (click)="limpiarFoto()">Limpiar</button>
                        <input hidden (change)="onFileSelected($event.target.files[0])" #fileInput type="file" id="file">
                    </div>

                    <div *ngIf="imagenTemp" class="text-center">
                        <h5>Vista previa:</h5>
                        <img [src]="imagenTemp" id="vista_previa">
                    </div>
                    <br>
                    <div>
                        <button type="button" class="mr-2 btn btn-outline-secondary btn-sm" matStepperPrevious>Atrás</button>
                        <button type="button" class="btn btn-outline-secondary btn-sm" matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>
        </div>
        <div class="col-xs-3 col-md-c3 col-lg-3">
            <!-- DATOS PUBLICOS -->
            <mat-step [stepControl]="datosPublicos">
                <ng-template matStepLabel>Datos para la ficha pública</ng-template>
                <div class="text-muted separador">
                    <p> Seleccione las características de su mascota que quiere que aparezcan en su ficha pública.</p>
                </div>

                <h5>Información de {{ datosMascota.controls['nombre'].value | titlecase }}:</h5>
                <br>
                <div class="container">

                    <mat-selection-list #ficha>
                        <mat-list-option value="nombre_publico">
                            Nombre: {{ datosMascota.controls['nombre'].value | titlecase }}
                        </mat-list-option>
                        <mat-list-option value="fecha_nacimiento_publico">
                            Fecha de nacimiento: {{ datosMascota.controls['fecha_nacimiento'].value | date }}
                        </mat-list-option>
                        <mat-list-option value="especie_publico">
                            Especie: {{ datosMascota.controls['especie'].value }}
                        </mat-list-option>
                        <mat-list-option value="raza_publico">
                            Raza: {{ datosMascota.controls['raza'].value }}
                        </mat-list-option>
                        <mat-list-option value="sexo_publico">
                            Sexo: {{ datosMascota.controls['sexo'].value }}
                        </mat-list-option>
                        <mat-list-option value="color_publico">
                            Color: {{ datosMascota.controls['color'].value }}
                        </mat-list-option>
                        <mat-list-option value="senias_publico">
                            Senias: {{ datosMascota.controls['senias'].value }}
                        </mat-list-option>


                        <br>
                        <h5>Tu información:</h5>
                        <br>
                        <div class="row">
                            <mat-list-option class="col" value="nombre_duenio_publico">
                                Tu nombre
                            </mat-list-option>
                            <mat-list-option class="col" value="apellido_duenio_publico">
                                Tu apellido
                            </mat-list-option>
                            <mat-list-option class="col" value="telefono_duenio_publico">
                                Tu telefono
                            </mat-list-option>
                        </div>
                    </mat-selection-list>
                </div>
                <br>
                <div>
                    <button type="button" class="mr-2 btn btn-outline-secondary btn-sm" matStepperPrevious>Atrás</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm" (click)="mostrar(ficha.selectedOptions.selected)" matStepperNext>Siguiente</button>
                </div>
            </mat-step>
        </div>
        <div class="col-xs-3 col-md-c3 col-lg-3">
            <mat-step>
                <ng-template matStepLabel>Fin</ng-template>
                <div class="alert alert-info" role="alert">
                    <strong>¡Listo! </strong> Para terminar con el registro de su mascota seleccione la opcion "Finalizar".
                </div>
                <div class="text-muted separador">
                    <p> Los datos publicos de tu mascota son:</p>
                </div>
                <div class="container">

                    //aca se van a mostrar los datos publicos seleccionados
                </div>
                <div>
                    <button type="button" (click)="procesarMascota()" class="mr-2 btn btn-outline-secondary btn-sm">Finalizar</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm" (click)="stepper.reset()">Resetear</button>
                </div>
            </mat-step>
        </div>
    </mat-horizontal-stepper>
</div>