<div class="container-fluid animated fadeIn">
    <ng-container *ngIf="subiendo; else elseTemplate">
        <div class="mt-4 pt-4"></div>
        <app-loading></app-loading>
    </ng-container>
    <ng-template #elseTemplate>
        <mat-horizontal-stepper class="pr-4 row" linear labelPosition="bottom" #stepper>


            <div class="col-xs-3 col-md-c3 col-lg-3">
                <!-- DATOS PRIVADOS -->
                <mat-step [stepControl]="datosMascota">
                    <form [formGroup]="datosMascota">
                        <ng-template matStepLabel>Datos de tu mascota</ng-template>
                        <div class="row separador">
                            <mat-form-field class="col-lg-5 col-md-5">
                                <input matInput type="text" placeholder="Nombre" formControlName="nombre" required>
                                <mat-error *ngIf="datosMascota.invalid">Debe completar este campo.</mat-error>
                            </mat-form-field>

                            <mat-form-field class="col-lg-5 col-md-5">
                                <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" formControlName="fecha_nacimiento" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error *ngIf="datosMascota.invalid">Debe completar este campo con una fecha válida.</mat-error>
                            </mat-form-field>
                        </div>
                        <br>
                        <div class="row ">
                            <mat-form-field class="col-lg-5 col-md-5">
                                <mat-select placeholder="Especie" formControlName="especie" required>
                                    <mat-option *ngFor="let e of especies" value="{{ e }}">{{ e | titlecase }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="datosMascota.invalid">Debe completar este campo.</mat-error>
                            </mat-form-field>
                            <mat-form-field class="col-lg-5 col-md-5">
                                <input matInput type="text" placeholder="Raza" formControlName="raza">
                            </mat-form-field>
                        </div>
                        <br>
                        <div class="row">
                            <mat-form-field class="col-lg-5 col-md-5">
                                <mat-select placeholder="Sexo" formControlName="sexo" required>
                                    <mat-option *ngFor="let s of sexos" value="{{ s }}">{{ s | titlecase }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="datosMascota.invalid">Debe completar este campo.</mat-error>
                            </mat-form-field>
                            <mat-form-field class="col-lg-5 col-md-5">
                                <input matInput type="text" placeholder="Color" formControlName="color" required>
                                <mat-error *ngIf="datosMascota.invalid">Debe completar este campo.</mat-error>
                            </mat-form-field>
                        </div>
                        <br>
                        <div class="row">
                            <mat-form-field class="col-lg-5 col-md-5">
                                <input matInput type="text" placeholder="Señas" formControlName="senias">
                            </mat-form-field>
                            <mat-form-field class="col-lg-5 col-md-5">
                                <mat-select placeholder="Veterinario" formControlName="veterinario">
                                    <mat-option value="">Sin veterinario</mat-option>
                                    <mat-option *ngFor="let v of veterinarios" value="{{ v.id }}"> <img [src]="v.foto | image" alt="Imágen el veterinario" class="img-40"> {{ v.apellido | titlecase }}, {{ v.nombre | titlecase }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="datosMascota.invalid">Debe completar este campo.</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row text center">
                            <div class="col">
                                <button type="button" class="mt-2 btn btn-outline-secondary btn-sm" matStepperNext>Siguiente</button>
                            </div>

                        </div>

                    </form>
                </mat-step>
            </div>
            <div class="col-xs-3 col-md-c3 col-lg-3">
                <!-- FOTO -->
                <mat-step optional>
                    <form [formGroup]="formFoto">
                        <ng-template matStepLabel>Foto de tu mascota</ng-template>

                        <div class="separador alert alert-warning alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                            <strong>Atención: </strong> Si no se carga una foto de su mascota, la ficha no se podrá ver publicamente en el home de la página.
                        </div>

                        <div class="m-4 row">
                            <button type="button" mat-raised-button (click)="fileInput.click()">Elegir foto</button>
                            <button *ngIf="imagenTemp" class="ml-3" type="button" mat-raised-button (click)="limpiarFoto()">Limpiar</button>
                            <input hidden (change)="onFileSelected($event.target.files[0])" #fileInput type="file" id="file">
                        </div>

                        <div *ngIf="imagenTemp" class="text-center">
                            <h5>Vista previa:</h5>
                            <img [src]="imagenTemp" id="vista_previa">
                        </div>
                        <br>
                        <div>
                            <button type="button" class="mr-2 btn btn-outline-secondary btn-sm" matStepperPrevious>Atrás</button>
                            <button type="button" class="btn btn-outline-secondary btn-sm" matStepperNext>Siguiente</button>
                        </div>
                    </form>
                </mat-step>
            </div>
            <div class="col-xs-3 col-md-c3 col-lg-3">
                <!-- DATOS PUBLICOS -->
                <mat-step [stepControl]="datosPublicos">
                    <ng-template matStepLabel>Datos para la ficha pública</ng-template>
                    <div class="text-muted separador">
                        <p> Seleccione las características de su mascota que quiere que aparezcan en su ficha pública.</p>
                    </div>

                    <br>
                    <mat-selection-list #ficha>
                        <div class="container">

                            <h5>Información de {{ datosMascota.controls['nombre'].value | titlecase }}:</h5>
                            <mat-list-option value="nombre">
                                Nombre: {{ datosMascota.controls['nombre'].value | titlecase }}
                            </mat-list-option>
                            <mat-list-option value="fecha_nacimiento">
                                Fecha de nacimiento: {{ datosMascota.controls['fecha_nacimiento'].value | date }}
                            </mat-list-option>
                            <mat-list-option value="especie">
                                Especie: {{ datosMascota.controls['especie'].value | titlecase}}
                            </mat-list-option>
                            <mat-list-option value="raza" *ngIf="datosMascota.controls['raza'].value !== ''">
                                Raza: {{ datosMascota.controls['raza'].value | titlecase}}
                            </mat-list-option>
                            <mat-list-option value="sexo">
                                Sexo: {{ datosMascota.controls['sexo'].value | titlecase}}
                            </mat-list-option>
                            <mat-list-option value="color">
                                Color: {{ datosMascota.controls['color'].value | titlecase}}
                            </mat-list-option>
                            <mat-list-option value="senias" *ngIf="datosMascota.controls['senias'].value !== ''">
                                Senias: {{ datosMascota.controls['senias'].value | titlecase}}
                            </mat-list-option>


                            <br>
                            <h5>Tu información:</h5>


                            <br>
                            <div class="row container">
                                <mat-list-option class="col" value="nombre_duenio">
                                    Tu nombre
                                </mat-list-option>
                                <mat-list-option class="col" value="apellido_duenio">
                                    Tu apellido
                                </mat-list-option>
                                <mat-list-option class="col" value="telefono_duenio">
                                    Tu telefono
                                </mat-list-option>
                                <mat-list-option class="col" value="email_duenio">
                                    Tu email
                                </mat-list-option>
                            </div>
                        </div>
                    </mat-selection-list>


                    <br>
                    <div>
                        <button type="button" class="mr-2 btn btn-outline-secondary btn-sm" matStepperPrevious>Atrás</button>
                        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="mostrar(ficha.selectedOptions.selected)" matStepperNext>Siguiente</button>
                    </div>
                </mat-step>
            </div>
            <div class="col-xs-3 col-md-c3 col-lg-3">
                <mat-step>
                    <ng-template matStepLabel>Fin</ng-template>
                    <div class="alert alert-info" role="alert">
                        <strong>¡Listo! </strong> Para terminar con el registro de su mascota seleccione la opcion "Finalizar".
                    </div>
                    <div class="text-muted separador">
                        <p> Los datos publicos de tu mascota son:</p>
                    </div>
                    <div class="container" *ngFor="let option of ficha.selectedOptions.selected">

                        <mat-checkbox *ngIf="option.value != 'nombre_duenio' && option.value != 'apellido_duenio' && option.value != 'email_duenio' && option.value != 'telefono_duenio'; else elseTemplate" disabled="true" checked="true">{{ datosMascota.controls[option.value].value }}</mat-checkbox>

                        <ng-template #elseTemplate>
                            <mat-checkbox *ngIf="option.value == 'nombre_duenio'" disabled="true" checked="true">{{ usuario.nombre }}</mat-checkbox>
                            <mat-checkbox *ngIf="option.value == 'apellido_duenio'" disabled="true" checked="true">{{ usuario.apellido }}</mat-checkbox>
                            <mat-checkbox *ngIf="option.value == 'telefono_duenio'" disabled="true" checked="true">{{ usuario.telefono }}</mat-checkbox>
                            <mat-checkbox *ngIf="option.value == 'email_duenio'" disabled="true" checked="true">{{ usuario.email }}</mat-checkbox>
                        </ng-template>
                    </div>
                    <br>
                    <div *ngIf="!subiendo">
                        <button type="button" (click)="procesarMascota( ficha.selectedOptions.selected )" class="mr-2 btn btn-outline-secondary btn-sm">Finalizar</button>
                        <button type="button" class="btn btn-outline-secondary btn-sm" (click)="stepper.reset()">Resetear</button>
                    </div>
                </mat-step>
            </div>

        </mat-horizontal-stepper>
    </ng-template>
</div>