<mat-sidenav-container class="sidenav-container">
    <!-- Sidebar -->
    <mat-sidenav #drawer class="sidenav sidenav-list" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar color="primary">
            <mat-icon class="icono" aria-label="Desplegar menú">menu</mat-icon>
            Menú
        </mat-toolbar>
        <mat-nav-list>
            <div>
                <h3 mat-subheader><strong>Cuenta</strong></h3>
                <mat-divider></mat-divider>
                <!-- <a *ngIf="admin" mat-list-item (click)="navegar('/veterinarios')" routerLinkActive="active">
                    <mat-icon class="icono" aria-label="Veterinarios">view_list</mat-icon>
                    Veterinarios
                </a> -->
                <a *ngIf="!admin" mat-list-item (click)="navegar('/perfil')" class="active">
                    <mat-icon class="icono" aria-label="Mi Perfil">account_circle</mat-icon>
                    Mi Perfil
                </a>
                <a *ngIf="!admin" mat-list-item (click)="navegar('/editar')">
                    <mat-icon class="icono" aria-label="Editar Perfil">brush</mat-icon>
                    Editar Perfil
                </a>
                <a mat-list-item (click)="logout()">
                    <mat-icon class="icono" aria-label="Cerrar sesión">first_page</mat-icon>
                    Cerrar sesión
                </a>
                <mat-divider></mat-divider>
            </div>

            <div *ngIf="admin">
                <h3 mat-subheader><strong>Administración</strong></h3>
                <mat-divider></mat-divider>
                <a mat-list-item (click)="navegar('/veterinarios')" routerLinkActive="active">
                    <mat-icon class="icono" aria-label="Veterinarios">view_list</mat-icon>
                    Veterinarios
                </a>
                <mat-divider></mat-divider>
                <a mat-list-item (click)="navegar('/duenios')" routerLinkActive="active">
                    <mat-icon class="icono" aria-label="Dueños">view_list</mat-icon>
                    Dueños
                </a>
            </div>

            <div *ngIf="!admin">
                <h3 mat-subheader><strong>Mascotas</strong></h3>
                <mat-divider></mat-divider>

                <a *ngIf="duenio" mat-list-item (click)="navegar('/mascotas')">
                    <mat-icon class="icono" aria-label="Mis Mascotas">pets</mat-icon>
                    Mis Mascotas
                </a>
                <a *ngIf="veterinario" mat-list-item (click)="navegar('/mascotas_atendidas')">
                    <mat-icon class="icono" aria-label="Mascotas sin veterinario">pets</mat-icon>
                    Mascotas sin veterinario
                </a>
                <a *ngIf="veterinario" mat-list-item (click)="navegar('/mascotas_atendidas')">
                    <mat-icon class="icono" aria-label="Mascotas atendidas">pets</mat-icon>
                    Mascotas atendidas
                </a>
                <a *ngIf="duenio" mat-list-item (click)="navegar('/nueva')">
                    <mat-icon class="icono" aria-label="Nueva Mascota">add_box</mat-icon>
                    Nueva
                </a>
                <mat-divider></mat-divider>
            </div>

            <div *ngIf="!admin">
                <h3 mat-subheader><strong>Eventos</strong></h3>
                <mat-divider></mat-divider>

                <a mat-list-item href="#">
                    <mat-icon class="icono" aria-label="Mis Eventos">event</mat-icon>
                    <span matBadge="4" matBadgeOverlap="false">Mis Eventos</span>
                </a>
                <a mat-list-item (click)="navegar('/nuevo-evento')">
                    <mat-icon class="icono" aria-label="Nuevo Evento">post_add</mat-icon>
                    Evento
                </a>
                <a mat-list-item href="#">
                    <mat-icon class="icono" aria-label="Mis Recordatorios">alarm</mat-icon>
                    <span matBadge="2" matBadgeOverlap="false">Mis Recordatorios</span>
                </a>    
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <!-- Sidebar -->
    <mat-sidenav-content>
        <!-- Navbar -->
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
                <mat-icon class="icon" aria-label="Desplegar menú">menu</mat-icon>
            </button>
            <span>
                <mat-icon class="icono" aria-label="Desplegar menú">pets</mat-icon> 
                Clinica de Mascotas  
            </span>

            <span class="spacer"></span>
            <span>
                <mat-icon class="icono mr-3" matBadge="4" matBadgeColor="warn">notifications</mat-icon>
                <mat-icon class="icono" aria-hidden="false" aria-label="Usuario">account_circle</mat-icon>
            </span>

        </mat-toolbar>
        <!-- Navbar -->

        <!-- Add Content Here -->
        <h3 class="m-4">{{ titulo }}</h3>

    </mat-sidenav-content>
</mat-sidenav-container>