<div class="container-fluid animated fadeIn">

    <ng-container *ngIf="cargando; else finCarga">
        <app-loading></app-loading>
    </ng-container>
    <ng-template #finCarga class="m-4">

        <div *ngIf="eventos && eventos.length == 0" class="container">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div>
    
                    <i><mat-icon class="animated flash">info</mat-icon></i> <span> No tienes ningún evento cargado. <strong><a [routerLink]="['/nuevo-evento']"> Agregar.</a> </strong></span>
                </div>
            </div>
        </div>
        
        <div *ngIf="eventos" class="m-3">
            
            <div class="alert alert-light d-inline-flex" role="alert">
                <h6>Mostrando tus eventos como <strong>{{ modo | rol }}</strong></h6>
                <mat-icon (click)="cambiarModo()"
                          class="animated flash ml-3 pointer" 
                          aria-label="Cambiar"
                          *ngIf="authService.veterinario && authService.duenio">
                    swap_horizontal_circle
                </mat-icon>
            </div>
            <ul class="list-group list-group-flush">
                <li *ngFor="let evento of eventos" li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <p>
                                <mat-icon class="icono mr-1" aria-label="Fecha">event</mat-icon>
                                <strong>Fecha: </strong>{{ evento.fecha | date:'dd-MM-yyyy' }}
                            </p>
                            <p>
                                <mat-icon class="icono mr-1" aria-label="Tipo">list</mat-icon>
                                <strong>Tipo: </strong>{{ evento.tipo }}
                            </p>
                            <p>
                                <mat-icon class="icono mr-1" aria-label="Mascota">pets</mat-icon>
                                <strong>Mascota: </strong>{{ evento.nombre_mascota }}
                            </p>
                            <p>
                                <mat-icon class="icono mr-1" aria-label="Descripción">description</mat-icon>
                                <strong>Descripción: </strong>{{ evento.descripcion }}
                            </p>
                            
                           
                        </div>
                        <div class="col-sm-8">
                            <mat-slide-toggle *ngIf="!fechaExpirada(evento.fecha)" 
                                              (click)="toggleRecordatorio( evento )" 
                                              class="example-margin" 
                                              color="primary" 
                                              [ngModel]="getToggleControl(evento)"
                                              (ngModelChange)="getToggleControl(evento)">
                                Recordar
                            </mat-slide-toggle>
                            <button mat-icon-button color="primary" class="m-3" title="Editar" aria-label="Editar" 
                                    [routerLink]="['/editar-evento', evento.id]">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="eliminarEvento( evento )" 
                                    title="Eliminar" aria-label="Eliminar">
                                <mat-icon>delete</mat-icon>
                            </button>

                            <mat-accordion>
                                <mat-expansion-panel>
                                  <mat-expansion-panel-header>
                                    <mat-panel-title>
                                      <mat-icon class="icono mr-1" aria-label="Más información">remove_red_eye</mat-icon>
                                      Más información
                                    </mat-panel-title>
                                  </mat-expansion-panel-header>
                                    <p>
                                        <strong>Observaciones: </strong>{{ evento.observaciones | evento}}
                                    </p>
                                    <p>
                                        <strong>Diagnóstico: </strong>{{ evento.diagnostico | evento }}
                                    </p>
                                    <p>
                                        <strong>Droga: </strong>{{ evento.droga | evento}}
                                    </p>
                                    <p>
                                        <strong>Indicaciones: </strong>{{ evento.indicaciones | evento }}
                                    </p>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        
    </ng-template>

</div>
