<div class="text-center">
    <h2>Iniciar Sesión</h2>
    <form [formGroup]="form" (ngSubmit)="login()">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>

                <input matInput type="email" formControlName="email" placeholder="Ingrese su email" name="email">

                <mat-icon matSuffix>person</mat-icon>
                <mat-error *ngIf="form.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>

                <input matInput type="password" formControlName="password" placeholder="Ingrese su contraseña" name="password">

                <mat-icon matSuffix>vpn_key</mat-icon>
                <mat-error *ngIf="form.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <a class="pointer" (click)="mostrarRegistro()">¿No tenés una cuenta? <strong class="animated flash slow">¡Regístrate aquí!</strong></a>

        <div class="mt-4">
            <button type="submit" class="btn btn-outline-primary">Enviar</button>
        </div>
    </form>
</div>