<!-- ENCABEZADO -->
<header>
    <div id="home" class="header-hero bg_cover" style="background-image: url(assets/img/header.jpeg); background-repeat: no-repeat;  background-size: cover;">
        <div class="container">
            <div class="d-flex justify-content-end">
                <div class="header-content text-right">
                    <h3 class="header-title">Clínica de mascotas</h3>
                    <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod repellat dolores inventore accusantium. Quis quia maxime tempora labore voluptatibus itaque libero! Delectus, quisquam ut. Porro voluptas assumenda iusto eum commodi!</p>

                </div>

            </div>
        </div>
        <!-- shape -->
        <div class="header-shape">
            <img src="assets/img/header-shape.svg" alt="shape">
        </div>
    </div>
</header>