<app-header></app-header>

<main>

    <div class="container-fluid">
        <div *ngIf="registrar" class="row animated fadeInRight">
            <div class="col">
                <app-registro (eventoCambiar)="cambiarFormulario($event)"></app-registro>

            </div>
        </div>

        <div *ngIf="!registrar" class="row d-flex align-items-center animated fadeInLeft">
            <div class="col-lg-7">
                <div class="row d-flex justify-content-center align-items-center mt-4">
                    <div class="rounded-circle">
                        <mat-icon class="text-center d-flex align-items-center justify-content-center">pets</mat-icon>
                    </div>
                    <div class="ml-4">
                        <p class="cando"> Administra tus mascotas <br><span class="cando">Creá tu mascota y editá su información.</span> </p>
                    </div>
                </div>
                <div class="row d-flex justify-content-center align-items-center mt-4">
                    <div class="rounded-circle">
                        <mat-icon class="text-center d-flex align-items-center justify-content-center">local_hospital</mat-icon>
                    </div>
                    <div class="ml-4">
                        <p class="cando"> Asignales veterinarios <br><span class="cando">Seleccioná al veterinario responsable del cuidado de tus mascotas entre nuestros profesionales más capacitados.</span></p>
                    </div>
                </div>
                <div class="row d-flex justify-content-center align-items-center mt-4">
                    <div class="rounded-circle">
                        <mat-icon class="text-center d-flex align-items-center justify-content-center">today</mat-icon>
                    </div>
                    <div class="ml-4">
                        <p class="cando"> Gestioná eventos <br><span class="cando">Como visitas al veterinario, operaciones quirúrjicas, vacunaciones o desparasitaciones.</span></p>
                    </div>
                </div>
                <div class="row d-flex justify-content-center align-items-center mt-4">
                    <div class="rounded-circle">
                        <mat-icon class="text-center d-flex align-items-center justify-content-center">alarm_add</mat-icon>
                    </div>
                    <div class="ml-4">
                        <p class="cando"> Registrá recordatorios<br><span class="cando">Para tus eventos más importantes.</span></p>
                    </div>
                </div>

            </div>
            <!-- LOGIN -->
            <div class="col-lg-5">
                <app-login (eventoCambiar)="cambiarFormulario($event)"></app-login>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="row mt-4 pt-4">

            <ng-container *ngIf="!(fichas_home.length >= 2); else elseTemplate">
                <div class="col-8 text-center m-auto pt-4 animated fadeIn">
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                        <strong>Ups! </strong> Parece que todavía no hay ninguna Ficha Pública cargada.
                    </div>

                    <script>
                        $(".alert").alert();
                    </script>
                </div>

            </ng-container>
            <ng-template #elseTemplate>
                <div class="grid animated fadeInRight slow" *ngFor="let ficha of fichas_home">
                    <a [routerLink]="['/ficha', ficha.id]">
                        <figure class="effect-apollo">
                            <img [src]="ficha.foto | image" alt="img18" />
                            <figcaption>
                                <h2 *ngIf="ficha.nombre">{{ ficha.nombre }} <span *ngIf="ficha.apellido_duenio">{{ ficha.apellido_duenio }}</span></h2>
                                <div>
                                    <p class="info-ficha" *ngIf="ficha.especie">{{ ficha.especie }}
                                    </p>
                                    <p class="info-ficha" *ngIf="ficha.senias">{{ ficha.senias }}
                                    </p>
                                    <p class="info-ficha" *ngIf="ficha.fecha_nacimiento">Nacimiento: {{ ficha.fecha_nacimiento | date }}.
                                    </p>
                                    <p class="info-ficha" *ngIf="ficha.nombre_duenio || ficha.apellido_duenio">Dueño: {{ ficha.nombre_duenio }} {{ ficha.apellido_duenio }}.
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </ng-template>






        </div>
    </div>

</main>



<!-- footer -->
<footer>
    <app-footer></app-footer>
</footer>