<!-- ENCABEZADO -->
<header>
    <div id="home" class="header-hero bg_cover" style="background-image: url(assets/img/header.jpeg)">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10">
                    <div class="header-content text-center">
                        <h3 class="header-title">Clínica de mascotas.</h3>
                        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non vero optio aut saepe neque ipsam, fugiat, recusandae itaque nostrum iusto ipsum consectetur illum dignissimos ab harum. Quo mollitia velit distinctio.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- shape -->
        <div class="header-shape">
            <img src="assets/img/header-shape.svg" alt="shape">
        </div>
    </div>
</header>

<main>

    <div class="container-fluid">
        <div *ngIf="registrar" class="row animated fadeInRight">
            <div class="col">
                <app-registro (eventoCambiar)="cambiarFormulario($event)"></app-registro>

            </div>
        </div>

        <div *ngIf="!registrar" class="row animated fadeInLeft">
            <div class="col-lg-7">
                <div class="row text-center">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio eos ducimus necessitatibus nemo aspernatur quas nobis dolor ipsam quasi eum doloribus reiciendis, sed, nulla qui. In error eligendi earum repellat? Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Reiciendis facere eius molestiae voluptates fuga quod eveniet officiis nobis porro sed ratione pariatur sint ut delectus deserunt, repellendus deleniti quibusdam obcaecati. Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Voluptatum modi beatae a? Hic deserunt voluptatem quae accusamus expedita ad enim sequi dolorem nisi sint atque non, iste est recusandae adipisci. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio
                    eos ducimus necessitatibus nemo aspernatur quas nobis dolor ipsam quasi eum doloribus reiciendis, sed, nulla qui. In error eligendi earum repellat? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis facere eius molestiae
                    volsam quasi eum doloribus reiciendis, sed, nulla qui. In error eligendi earum repellat? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis facere eius molestiae voluptates fuga quod eveniet officiis nobis porro sed
                    ratione pariatur sint ut delectus deserunt, repellendus deleniti quibusdam obcaecati. Lorem ipsum, dolor sit amet consectetur adi
                </div>
            </div>
            <!-- LOGIN -->
            <div class="col-lg-5">
                <app-login (eventoCambiar)="cambiarFormulario($event)"></app-login>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

            <div class="grid">
                <figure class="effect-apollo">
                    <img src="assets/img/walli4.jpeg" alt="img18" />
                    <figcaption>
                        <h2>WALLI <span>ONOFRI</span></h2>
                        <div>
                            <p class="info-ficha">Un perrito feliz.
                            </p>
                            <p class="info-ficha">Edad: 7.
                            </p>
                            <p class="info-ficha">Dueña: Meli.
                            </p>
                            <p class="info-ficha">Veterinario: Lore.
                            </p>
                        </div>
                        <a href="#">Ver más</a>
                    </figcaption>
                </figure>
            </div>
            <div class="grid">
                <figure class="effect-apollo">
                    <img src="assets/img/raca2.jpeg" alt="img18" />
                    <figcaption>
                        <h2>RACA <span>REPETTO</span></h2>
                        <div>
                            <p class="info-ficha">Una gatita que se va de gira.
                            </p>
                            <p class="info-ficha">Edad: 7.
                            </p>
                            <p class="info-ficha">Dueña: Meli.
                            </p>
                            <p class="info-ficha">Veterinario: Lore.
                            </p>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>

</main>



<!-- footer -->
<footer>
    <app-footer></app-footer>
</footer>