/* You can add global styles to this file, and also import other style files */


/* Theme de Angular Material */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Raleway');
.pointer {
    cursor: pointer;
}

.page-wrapper {
    padding-bottom: 60px;
    padding-top: 15px;
}

@media (max-width: 960px) {
    .page-wrapper {
        margin-left: 0px;
    }
}

@media (min-width: 960px) {
    .page-wrapper {
        margin-left: 200px;
        padding-left: 6px;
    }
}


/* ESTRUCTURA GENERAL */

.w150 {
    width: 70%;
}


/* FONT NO ANDA EL FONT FAMILYYYYYYYYYYYYYYYYYYYY*/

body {
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway Black', sans-serif !important;
}


/* BOTONES PRIMARIOS */

button.btn-outline-primary {
    margin-bottom: 20px;
    border-color: #3b1d71;
    color: #3b1d71;
    ;
}

button.btn-outline-primary:hover {
    background-color: #3b1d71;
    border-color: #3b1d71;
    ;
}


/* FOOTER */

footer {
    bottom: 0;
}


/* REGISTRAR MASCOTA */

img#vista_previa {
    width: 500px;
    height: 450px;
}