/* ESTRUCTURA GENERAL */

main {
    margin-top: 60px;
    margin-bottom: 60px;
}


/* FOTO DE FONDO EN FORMA DE ONDA */

.header-hero {
    height: 600px;
    position: relative;
}

@media only screen and (min-width: 568px) and (max-width: 600px) {
    .header-hero {
        height: 500px;
    }
}

@media (max-width: 400px) {
    .header-hero {
        height: 400px;
    }
}

.header-hero::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-hero .header-content {
    padding-top: 90px;
    position: relative;
    z-index: 9;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-hero .header-content {
        padding-top: 80px;
    }
}

@media (max-width: 767px) {
    .header-hero .header-content {
        padding-top: 120px;
    }
}

.header-hero .header-content .header-title {
    font-size: 44px;
    line-height: 55px;
    color: #121212;
    font-weight: 600;
}

@media (max-width: 767px) {
    .header-hero .header-content .header-title {
        font-size: 30px;
        line-height: 40px;
    }
}

.header-hero .header-content .text {
    font-size: 20px;
    line-height: 32px;
    color: #6c6c6c;
    margin-top: 16px;
}

@media (max-width: 767px) {
    .header-hero .header-content .text {
        font-size: 16px;
        line-height: 24px;
    }
}

.header-hero .header-content {
    margin-top: 22px;
}

.header-hero .header-content li {
    display: inline-block;
    margin: 10px 10px 0;
}

.header-hero .header-content li a.main-btn {
    border-radius: 50px;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: 0;
    line-height: 50px;
}

.header-hero .header-content a.main-btn i {
    margin-left: 5px;
}

.header-hero .header-content a.main-btn.btn-one {
    color: #fff;
}

.header-hero .header-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.header-hero .header-shape img {
    width: 100%;
}

img {
    border: 0;
}


/* TARJETAS DE LAS FICHAS PUBLICAS */

.grid {
    position: relative;
    clear: both;
    margin: auto;
    padding: 1em 0 4em;
    max-width: 100%;
    list-style: none;
    text-align: center;
}


/* Common style */

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    width: 500px;
    height: 450px;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure div {
    margin-top: 0 !important;
    margin-right: 5px !important;
    margin-left: 0 !important;
    margin-bottom: 10px !important;
    width: 100% !important;
}

.grid figure div {
    letter-spacing: 1px;
    font-size: 68.5%;
}


/***** Apollo *****/


/*-----------------*/

figure.effect-apollo {
    background: #3498db;
}

figure.effect-apollo img {
    opacity: 0.95;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
}

figure.effect-apollo figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
}

figure.effect-apollo div {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 3em;
    padding: 0 1em;
    max-width: 100%;
    border-right: 4px solid #fff;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-apollo h2 {
    text-align: left;
}

figure.effect-apollo:hover img {
    opacity: 0.6;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

figure.effect-apollo:hover figcaption::before {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
}

figure.effect-apollo:hover div {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}