<footer class="text-white text-center">
    <div>
        <img src="./assets/img/footer-shape.svg" alt="shape">
    </div>
    <div class="" style="background-color: #3b1d71">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10">
                    <div class="">
                        <h5 class="mt-4">Comunicate con nosotros a través de nuestras redes: </h5>
                        <div class="row mt-4">
                            <div class="col mt-4 mb-4">
                                <mat-icon>settings_phone</mat-icon>
                                <p><small class="text-center">221 4785692</small></p>
                            </div>
                            <div class="col mt-4 mb-4">
                                <mat-icon>email</mat-icon>
                                <p><small class="text-center">clinicademascotas@gmail.com</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <p><small>Desarrolladores: <a href="https://lorenzorepetto.github.io/" target="_blank" class="font-bold">Lorenzo Repetto</a> y <a href="https://onofrimelisa.github.io/myportfolio/" target="_blank">Melisa Ailén Onofri</a></small></p>
            </div>
        </div>
        <!-- shape -->
    </div>
</footer>