<footer class="text-white text-center">
    <div>
        <img src="./assets/img/footer-shape.svg" alt="shape">
    </div>
    <div class="" style="background-color: #3b1d71">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10">
                    <div class="">
                        <h3 class="">footer.</h3>
                        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non vero optio aut saepe neque ipsam, fugiat, recusandae itaque nostrum iusto ipsum consectetur illum dignissimos ab harum. Quo mollitia velit distinctio.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- shape -->
    </div>
</footer>